<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ivory" translate="label" sortOrder="120">
            <label>Ivory</label>
        </tab>
        <section id="productslider" translate="label" type="text" sortOrder="100" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Product Slider</label>
            <tab>ivory</tab>
            <resource>Ivory_Productslider::config_productslider</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Ivory Productslider</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<comment>For list of arguments/parameters read document file.(README.md)</comment>
            </group>
        </section>
    </system>
</config>